@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina+2|Press+Start+2P|Share&display=swap');

* {
 margin: 0;
 padding: 0;
}
body{
  background: linear-gradient(rgba(57, 12, 66, 0.5),rgba(21, 157, 219, 0.6)),url(image1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height:100vh;
  font-family: 'Press Start 2P', cursive;
}
/* So nothing can be highlighted on the page */
 body{
  -webkit-touch-callout: none; 
  -webkit-user-select: none;
   -khtml-user-select: none; 
     -moz-user-select: none;
      -ms-user-select: none; 
          user-select: none; 
} 
.site-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 3rem;
  margin: 4rem 0 3rem 0;
  border-radius: 20px;
  border: 5px solid black;
  box-shadow: 0 0 20px rgb(17, 17, 17);
  color: rgb(255, 230, 1);
  background-color:rgb(0, 4, 255);
  text-shadow: 5px 2px red;
  padding: 10px;
}
.scoreboard-labels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem 0 3rem 0;
  font-size: 2rem;
  text-shadow: 5px 2px  black;
}
#user-label {
  margin-right: 250px;
  background-color: rgb(253, 4, 4);
  color: rgb(255, 230, 1);
  padding: 20px;
  border: 5px solid black;
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(17, 17, 17);
}
#computer-label {
  margin-left: 250px;
  background-color: rgb(253, 4, 4);
  color: rgb(255, 230, 1);
  padding: 20px;
  border: 5px solid black;
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(17, 17, 17); 
}
.scores {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgb(255, 230, 1);
  text-shadow: 5px 2px black;
  margin: 2rem;
  font-size: 3rem;
}
#user-score {
  margin-right: 290px;
}
#computer-score {
  margin-left: 290px;
}
.result {
  font-size: 1.8rem;
  margin: 2rem;
  color: rgb(255, 230, 1);
  text-shadow: 5px 2px black;
  line-height: 2.5rem;
  text-align: center;
}
img {
  width: 100px;
  height: 100px;
  padding: 30px; 
}
.choices{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.choice1 {
  margin: 30px 80px 30px 50px;
  border: 2px solid black;
  border-radius: 50%;
  background-color:rgb(0, 4, 255);
  outline: none;
  transition: all 0.2s ease;
}
.choice2 {
  margin: 30px 50px 30px 50px;
  border: 2px solid black;
  border-radius: 50%;
  background-color:rgb(0, 4, 255);
  outline: none;
  transition: all 0.2s ease;
}
.choice3 {
  margin: 30px 50px 30px 80px;
  border: 2px solid black;
  border-radius: 50%;
  background-color:rgb(0, 4, 255);
  outline: none;
  transition: all 0.2s ease;
}
.choice1:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 20px rgb(17, 17, 17);
}
.choice2:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 20px rgb(17, 17, 17);
}
.choice3:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 20px rgb(17, 17, 17);
}
.reset-button{
  font-size: 2rem;
  color: red;
  background-color: rgb(255, 230, 1);
  padding: 20px;
  border: 5px solid black;
  border-radius: 20px;
  font-weight: bold;
  text-shadow: 5px 2px black;
  margin-top: 3rem;
  outline: none;
  font-family: 'Press Start 2P', cursive;
  transition: all 0.2s ease;
}
.reset-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
/* effects when a user wins, loses, draws */
.green-glow{
  border: 3px solid  rgb(137, 221, 10);
  box-shadow: 0 0 30px rgb(137, 221, 10);
}
.red-glow{
  border: 3px solid  rgb(255, 10, 2);
  box-shadow: 0 0 15px rgb(163, 0, 0);
}
.gray-glow{
  border: 3px solid  rgb(170, 170, 170);
  box-shadow: 0 0 15px rgb(39, 39, 39);
}

