* {
  background-color: #67746c;
 margin: 0;
 padding: 0;
}
/* So nothing can be highlighted on the page */
body{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}

h1 {
  padding: 20px;
  background-color: #7e897a;
  text-align: center;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.scoreboard{
  border: 4px solid white;
  border-radius: 3px;
  margin: 80px auto;
  width: 400px;
  color: white;
  font-size: 60px;
  padding: 20px 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  text-align: center;
}

.label {
  background: #ad0000;
  border: 3px solid #ad0000;
  border-radius: 3px;
  color: white;
  font-size: 40px;
  padding: 4px 12px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

#user-label {
  position: absolute;
  top: 30px;
  left: -55px;
}

#computer-label {
  position: absolute;
  top: 30px;
  right: -65px;
}
.result{
  margin: 80px auto;
  width: 400px;
  color: white;
  font-size: 45px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.choices {
  text-align: center;
  margin: 80px;
}
.choice1 {
  display: inline-block;
  border: 5px solid #561105;
  border-radius: 4px;
  margin: 0 30px;
  padding: 20px;
  color: white;
  font-size: 26px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.choice1:hover {
  cursor: pointer;
  background-color: #561105;
}

.choice2 {
  display: inline-block;
  border: 5px solid #9d9d9d;
  border-radius: 4px;
  margin: 0 30px;
  padding: 20px;
  color: white;
  font-size: 26px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.choice2:hover {
  cursor: pointer;
  background-color: #9d9d9d;
}

.choice3 {
  display: inline-block;
  border: 5px solid #4462a7;
  border-radius: 4px;
  margin: 0 30px;
  padding: 20px;
  color: white;
  font-size: 26px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.choice3:hover {
  cursor: pointer;
  background-color: #4462a7;
}

footer {
  position: absolute;
  bottom: 0;
  color:#48554d;
  text-align: right;
  width: 99%;
  height: 40px;
  font-family: sans-serif          
}

.green-glow{
  border: 5px solid  rgb(137, 221, 10);
  box-shadow: 0 0 30px rgb(137, 221, 10);
}

.red-glow{
  border: 5px solid  rgb(255, 10, 2);
  box-shadow: 0 0 15px rgb(163, 0, 0);
}

.gray-glow{
  border: 5px solid  rgb(170, 170, 170);
  box-shadow: 0 0 15px rgb(39, 39, 39);
}